/*!
 * Age verification CSS to go with the JS that can be found at (https://github.com/Herudea/age-verification)
 */

 #modal_screen {
	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1100;
	background-image:url(../images/acopon_pattern_250x250.png);
	background-color: $primaryBlue;
}

#modal_screen.nope {
	background-color: #1e0924; 
}

#modal_content {
    padding:20px;
    position: fixed;
	z-index: 1101;
	margin: 0 auto;
	background-color:transparent;
	border:none;
	max-width:500px;
}

#modal_content .content_wrapper {
	margin:2em auto 0;
	text-align: center;
	background-color: $primaryBlue;
	padding:20px;
	border: 5px solid $bgLight;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .25);
	border-top-left-radius: 3em;
	border-bottom-right-radius: 3em;

}

#modal_content h2 {
    font-family: 'Spectral', 'Georgia', serif;
	font-size: 30px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
    margin:0;
    padding:0;

}

#modal_content p {
	max-width: 75%;
	margin: 1.2em auto 0;
	color: #fff;
    font-family: 'Merriweather', 'Georgia', serif;
	font-size: 10px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#modal_content div {font-size: 16px; width: 100%; margin-top: 20px;}
#modal_content div ul { width: 100%; margin:0; padding:0;}
#modal_content div li { display:inline-block; text-align: center; width: 100%; margin: 10px 10px 10px 0; }
// #modal_content div li:first-of-type {margin:0 10px 10px 0}
// #modal_content div li:last-of-type {margin:10px 0 0 10px}
#modal_content div:after {
	content: "";
	display: block;
	clear: both;
}

#modal_content div small {
	display: block;
	text-align: center;
	color: #888;
	margin: 1em 0 0;
}

#modal_content div a.av_btn {
	display:block;
	text-decoration: none;
	padding: 1em 1em;
    font-family: 'Spectral', 'Georgia', serif;
    font-size: 16px;
    font-weight:700;
	color: $bgLight;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
    border:1px solid $bgLight;
	// width: 200px
	max-width: 375px;
    margin: 0 auto;
}

#modal_content div .av_go {
	background-color: none;
}

#modal_content div .av_no {
	background-color: none;
}

#modal_content div .av_btn:hover {
	color: $primaryBlue;
	background: $bgLight;
    transition:.5s;
    border:1px solid $bgLight;
}

#modal_content #modal_regret_wrapper div a.av_btn {
	margin-top:0;
	width:130px;
	font-size: 0.8em;

}