$primaryBlue : #3E3F55;
$lightBlue : #696a8f;
$primaryGrey : #4A4A4A;
$bgLight : #F9F9F9;
$bgGrey : #E9E9E9;

$hoverBlue : #4d5191;

$merriweather : 'Merriweather', 'Georgia', serif;
$spectral : 'Spectral', 'Georgia', serif;