.px-20 {
  padding: 0 20px;
}

.pt-50 {
  padding-top: 50px;
}

.py-50 {
  padding: 50px 0;
}

.py-150 {
  padding: 150px 0;
}

.show {
  display: inline-block;
  transition: 0.5s;
}

.hide {
  transition: 0.5s;
  display: none;
}

.text-center {
  text-align: center;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.disp-inline {
  display: inline-block;
}

/*!
 * Age verification CSS to go with the JS that can be found at (https://github.com/Herudea/age-verification)
 */
#modal_screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.95);
}

#modal_screen.nope {
  background-color: #1e0924;
}

#modal_content {
  padding: 20px;
  background-position: center;
  background-image: url(../images/verifybg.png);
  background-repeat: no-repeat;
  position: fixed;
  z-index: 1101;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  max-width: 500px;
  /*height: 290px;*/
}

#modal_content .content_wrapper {
  margin: 2em auto 0;
  text-align: center;
}

#modal_content h2 {
  font-family: "Spectral", "Georgia", serif;
  font-size: 30px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

#modal_content p {
  max-width: 75%;
  margin: 1.2em auto 0;
  color: #fff;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 10px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#modal_content nav {
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}

#modal_content nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

#modal_content nav li {
  display: inline-block;
  text-align: center;
  width: auto;
}

#modal_content nav:after {
  content: "";
  display: block;
  clear: both;
}

#modal_content nav small {
  display: block;
  text-align: center;
  color: #888;
  margin: 1em 0 0;
}

#modal_content nav a.av_btn {
  display: block;
  text-decoration: none;
  padding: 1em 1em;
  color: #fff;
  font-family: "Spectral", "Georgia", serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #fff;
  width: 200px;
}

#modal_content nav .av_go {
  background-color: none;
}

#modal_content nav .av_no {
  background-color: none;
}

#modal_content nav .av_btn:hover {
  color: #999999;
  transition: 0.5s;
  border: 1px solid #999999;
}

#modal_content #modal_regret_wrapper nav a.av_btn {
  margin-top: 0;
  width: 130px;
  font-size: 0.8em;
}

@media (min-width: 688px) {
  #modal_content {
    top: 30vh;
    left: 30vw;
    width: 100%;
    max-width: 600px;
    height: 500px;
    padding: 2em;
    font-size: 16px;
  }

  #modal_content .content_wrapper {
    padding-top: 0;
    margin: 1em auto 0;
    text-align: center;
  }

  #modal_content h2 {
    margin: 0 0 0 0;
  }

  #modal_content p {
    line-height: 1.9em;
  }

  #modal_content nav {
    width: 500px;
    padding: 20px;
    margin: 0 auto;
  }

  /*#modal_content nav a.av_btn {
  	padding:1em 2.5em;
  	margin:1.6em auto 0;
  	font-size: 1em;
  }*/
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Merriweather", "Georgia", serif;
  font-size: 24px;
  font-weight: 400;
  color: #3E3F55;
  text-align: center;
  letter-spacing: 1px;
  margin: 35px 0 15px;
}

h2 {
  font-family: "Merriweather", "Georgia", serif;
  font-size: 40px;
  font-weight: 700;
  color: #3E3F55;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 0 5px;
}

h3 {
  font-family: "Merriweather", "Georgia", serif;
  font-size: 20px;
  font-weight: 400;
  color: #4A4A4A;
  text-align: left;
  line-height: 26px;
  margin: 10px 0;
  padding: 0;
}

h4 {
  font-family: "Merriweather", "Georgia", serif;
  font-size: 18px;
  font-weight: 700;
  color: #4A4A4A;
  text-align: left;
  text-transform: uppercase;
  line-height: 10px;
  padding: 0;
  margin: 10px 0;
}

a {
  color: #3E3F55;
  transition: 0.5s;
}

a:hover {
  color: #4d5191;
  transition: 0.5s;
}

p {
  font-family: "Spectral", "Georgia", serif;
  font-size: 16px;
  color: #4A4A4A;
  line-height: 1.5em;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: justify;
  text-justify: inter-word;
}

main {
  margin: 0;
}

.wrapper {
  width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}

.img {
  width: 100%;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.col-1 {
  grid-column-start: 1;
  grid-column-end: 12;
}

.col-2-left {
  grid-column-start: 1;
  grid-column-end: 6;
}

.col-2-right {
  grid-column-start: 6;
  grid-column-end: 12;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}
header nav ul {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}
header nav ul li {
  font-family: "Spectral", "Georgia", serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  list-style: none;
  vertical-align: middle;
  margin: 0 0.15rem;
  padding: 20px 5px;
  transition: 0.5s;
}
header nav ul li a {
  font-family: "Spectral", "Georgia", serif;
  margin: 25px;
  text-decoration: none;
  transition: 0.25s;
}
header nav ul li a:hover {
  transition: 0.25s;
}

.headerLogo {
  cursor: pointer;
  max-width: 100px;
  padding: 5px;
  transition: 0.25s;
}

.headerLogo:hover {
  opacity: 0.5;
  transition: 0.25s;
}

.headerGradient {
  background: white;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 60%, white 100%);
  width: 100%;
  height: 150px;
  position: absolute;
}

#empty {
  display: none;
}

.introBg {
  background: url("../images/home_bg.png") center/cover no-repeat fixed;
  height: 100vh;
}

.logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 175px;
  max-width: 425px;
  transition: 0.5s;
}

.logoScroll {
  top: 20px;
  max-width: 150px;
  transition: 0.5s;
}

.introText {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 625px;
  transition: 0.5s;
}

.aboutBG {
  background: #F9F9F9;
}

.aboutContent {
  max-width: 700px;
}

.aboutImg {
  max-width: 375px;
}

.locationSection {
  background: #E9E9E9;
}

.mapCol {
  width: 600px;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#menu-container {
  max-width: 1024px;
  margin: 0 auto;
}

.preFooter {
  padding: 100px 0;
  background: url("../images/Footer.png") center bottom no-repeat;
}

footer {
  padding: 2rem 0;
  background: #3E3F55;
}
footer p {
  text-align: center;
  font-size: 0.75rem;
  color: #F9F9F9;
}

.social {
  margin: 5px;
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
}

.socialImg {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 35px;
  cursor: pointer;
}

.socialImg:hover {
  top: -35px;
}/*# sourceMappingURL=main.css.map */