.px-20 {
  padding: 0 20px;
}

.pt-50 {
  padding-top: 50px;
}

.py-50 {
  padding: 50px 0;
}

.py-150 {
  padding: 150px 0;
}

.show {
  display: inline-block;
  transition: 0.5s;
}

.hide {
  transition: 0.5s;
  display: none;
}

.text-center {
  text-align: center;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Merriweather", "Georgia", serif;
  font-size: 24px;
  font-weight: 400;
  color: #3E3F55;
  text-align: center;
  letter-spacing: 1px;
  margin: 35px 0 15px;
}

h2 {
  font-family: "Merriweather", "Georgia", serif;
  font-size: 40px;
  font-weight: 700;
  color: #3E3F55;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 0 5px;
}

h3 {
  font-family: "Merriweather", "Georgia", serif;
  font-size: 20px;
  font-weight: 400;
  color: #4A4A4A;
  text-align: left;
  line-height: 26px;
  margin: 10px 0;
  padding: 0;
}

h4 {
  font-family: "Merriweather", "Georgia", serif;
  font-size: 18px;
  font-weight: 700;
  color: #4A4A4A;
  text-align: left;
  text-transform: uppercase;
  line-height: 10px;
  padding: 0;
  margin: 10px 0;
}

a {
  color: #3E3F55;
  transition: 0.5s;
}

a:hover {
  color: #4d5191;
  transition: 0.5s;
}

p {
  font-family: "Spectral", "Georgia", serif;
  font-size: 16px;
  color: #4A4A4A;
  line-height: 1.5em;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: justify;
  text-justify: inter-word;
}

main {
  margin: 0;
}

.wrapper {
  width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}

.img {
  width: 100%;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.col-1 {
  grid-column-start: 1;
  grid-column-end: 12;
}

.col-2-left {
  grid-column-start: 1;
  grid-column-end: 6;
}

.col-2-right {
  grid-column-start: 6;
  grid-column-end: 12;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}
header nav ul {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}
header nav ul li {
  font-family: "Spectral", "Georgia", serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  list-style: none;
  vertical-align: middle;
  margin: 0 0.25rem;
  padding: 20px 5px;
  transition: 0.5s;
}
header nav ul li a {
  font-family: "Spectral", "Georgia", serif;
  margin: 50px;
  text-decoration: none;
  transition: 0.5s;
}

.headerLogo {
  cursor: pointer;
  max-width: 150px;
  padding: 5px;
}

#empty {
  display: none;
}

.introBg {
  background: url("../images/home_bg.png") center/cover no-repeat fixed;
  height: 100vh;
}

.logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 175px;
  max-width: 425px;
}

.logoScroll {
  top: 20px;
  max-width: 150px;
  transition: 0.5s;
}

.introText {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 625px;
}

.aboutBG {
  background: #F9F9F9;
}

.aboutContent {
  max-width: 700px;
}

.aboutImg {
  max-width: 375px;
}

.locationSection {
  background: #E9E9E9;
}

.mapCol {
  width: 600px;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#menu-container {
  max-width: 1024px;
  margin: 0 auto;
}

.preFooter {
  padding: 100px 0;
  background: url("../images/Footer.png") center bottom no-repeat;
}

footer {
  padding: 2rem 0;
  background: #3E3F55;
}
footer p {
  text-align: center;
  font-size: 0.75rem;
  color: #F9F9F9;
}
footer .social {
  margin: 5px;
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
footer .socialImg {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 35px;
  cursor: pointer;
}
footer .socialImg:hover {
  top: -35px;
}/*# sourceMappingURL=main.css.map */