// Can seperate SASS files and simply import them to the main file
@import './variables';
@import './helperClasses';
@import './age-verify';
@import './side-nav';

// Mixin works like a function - you can then pass this mixin into a css element and it will take all the properties. For some reason this needs to be above import
// @mixin flexCenter($direction, $align) {
//     display: flex;
//     justify-content: center;
//     align-items: $align;
//     flex-direction: $direction; //You can pass in variables like a function
// }

@mixin centerAbsolute() {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}


// =========================
// Universal Elements
// =========================
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $merriweather;
  font-size: 2.5rem;
  font-weight: 400;
  color: $primaryBlue;
  text-align: center;
  letter-spacing: 1px;
  margin: 35px 0 15px ;
}
  
h2 {
  font-family: $merriweather;
  font-size: 2.5rem;
  font-weight: 700;
  color: $primaryBlue;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 0 5px;;
}
  
h3 {
  font-family: $merriweather;
  font-size: 2rem;
  font-weight: 400;
  color: $primaryGrey;
  text-align: left;
  line-height: 3rem;
  margin:10px 0;
  padding:0;
}
  
h4 {
  font-family: $merriweather;
  font-size: 18px;
  font-weight: 700;
  color: $primaryGrey;
  text-align: left;
  text-transform: uppercase;
  line-height: 3rem;
  padding:0;
  margin:10px 0;
}

a {
  color: $primaryBlue;
  transition:.5s;
}

a:hover {
  color: $hoverBlue;
  transition:.5s;
}
  
p {
  font-family: $spectral;
  font-size: 16px;
  color: $primaryGrey;
  line-height: 1.5em;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: justify;
  text-justify: inter-word;
}

main {
  margin: 0;
}

.wrapper {
  width: 100%
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding:0 20px 20px 20px;
}

.img {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.col-1 {
  grid-column-start:1;
  grid-column-end: 12;
}

.col-2-left {
  grid-column-start:1;
  grid-column-end: 6;
}

.col-2-right {
  grid-column-start:6;
  grid-column-end: 12;
}

.col-2-right h3 {
  margin-top:1.5rem;
}

.col-2-right h3:first-of-type {
  margin-top:0;
}

// =========================
// Header
// =========================
  
header {
  position: fixed;
  width: 100%;
  z-index: 10;
    //   Simply include the mix in at the top of the class
    // @include flexCenter(row);
     
      //@extend nav; this will take the classes from a different item
  nav{
    ul {
      margin:0;
      padding: 0;
      position:relative;
      text-align: center;
      li {
        font-family: $spectral;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        list-style: none;
        vertical-align: middle;
        margin: 0 .15rem;
        padding: 20px 5px;
        transition: .5s;
      }
      li a {
        font-family: $spectral;
        margin:25px;
        text-decoration: none;
        transition:.25s;
      }
      li a:hover {
        transition: .25s;
      }
    }
  }
}

.headerLogo {
  cursor: pointer;
  max-width: 100px;
  padding: 5px;
  transition:.25s;
}

.headerLogo:hover {
  opacity: .5;
  transition: .25s;
}

.headerGradient {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
  width: 100%;
  height: 150px;
  position: absolute;
}

#empty {
  display: none;
}

// =========================
// Intro Section
// =========================

.introBg {
  background: url('../images/home_bg.png') center/cover no-repeat fixed;
  height: 100vh;
}

.logo {
  @include centerAbsolute;
  top: 175px;
  max-width: 425px;
  transition: .5s;
}

.logoScroll {
  top: 20px;
  max-width: 150px;
  transition:.5s;
}

.introText {
  @include centerAbsolute;
  top: 625px;
  transition:.5s;
}

// =========================
// About Section
// =========================

.aboutBG {
  background: $bgLight;
}

.aboutContent {
  max-width: 700px;
}

.aboutImg {
  max-width: 375px;
}


// =========================
// Location
// =========================



#location h2 {
  font-size: 2rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px 0;
}

.location-intro {
  padding:0 0 2rem 0;
  text-align:center;
}

.location-intro p {
  text-align:center;
}

.locationSection {
  background: $bgGrey;
}

.mapCol {
  width: 600px;
}

.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

#map {
  // width: 100%;
  // height: 400px;
  background-color: grey;
  left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#menu-container {
  max-width: 1024px;
  margin: 0 auto;
}


.preFooter {
  padding: 100px 0;
  background: url("../images/Footer.png") center bottom no-repeat;
}

footer {
  padding:2rem 0;
  background: $primaryBlue;
  p {
    text-align: center;
    font-size:.75rem;
    color: $bgLight;
  }
}

.social {
  margin: 5px;
  position: relative;
  width: 35px;
  height:35px;
  overflow:hidden;
}
.socialImg {
  position:absolute;
  display: inline-block;
  top:0;
  left: 0;
  width:35px;
  cursor: pointer;
}
.socialImg:hover {
  top:-35px;
}


// MEDIA QUERIES
@import './mediaQueries';