// Can seperate SASS files and simply import them to the main file
@import './variables';

// Mixin works like a function - you can then pass this mixin into a css element and it will take all the properties. For some reason this needs to be above import
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction; //You can pass in variables like a function
}


html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}
  
header {
    //   Simply include the mix in at the top of the class
      @include flexCenter(row); //pass in row as the direction
      //@extend nav; this will take the classes from a different item
}